# Copie ce fichier en ".env" et remplis tes propres clés (jamais ce fichier-ci)
STRIPE_SECRET_KEY=sk_test_...........................
STRIPE_WEBHOOK_SECRET=whsec_...........................
CLIENT_URL=http://localhost:5173
PORT=4000
